
<html>
    <head>
        <title>Buki's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.facebook.com/"target="_blank" rel="noopener">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="https://www.facebook.com/">lefelle</a></h2>
            <p>la la laal lala laaaa la la laaaa</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">yeyeyye</a></h2>
            <p>jpowfekg wefpokfşl epowgkşlekwgnfwleşg</p>
        </div>
    </body>
</html>